<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adsSong">
            <h2><span jhiTranslate="musicApp.adsSong.detail.title">Ads Song</span> {{adsSong.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="musicApp.adsSong.content">Content</span></dt>
                <dd>
                    <span>{{adsSong.content}}</span>
                </dd>
                <dt><span jhiTranslate="musicApp.adsSong.image">Image</span></dt>
                <dd>
                    <span>{{adsSong.image}}</span>
                </dd>
                <dt><span jhiTranslate="musicApp.adsSong.songId">Song Id</span></dt>
                <dd>
                    <span>{{adsSong.songId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ads-song-my-suffix', adsSong.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
