<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adsPlaylist">
            <h2><span jhiTranslate="musicApp.adsPlaylist.detail.title">Ads Playlist</span> {{adsPlaylist.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="musicApp.adsPlaylist.content">Content</span></dt>
                <dd>
                    <span>{{adsPlaylist.content}}</span>
                </dd>
                <dt><span jhiTranslate="musicApp.adsPlaylist.image">Image</span></dt>
                <dd>
                    <span>{{adsPlaylist.image}}</span>
                </dd>
                <dt><span jhiTranslate="musicApp.adsPlaylist.playlistId">Playlist Id</span></dt>
                <dd>
                    <span>{{adsPlaylist.playlistId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ads-playlist-my-suffix', adsPlaylist.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
